.center{
    text-align: center;
    color: blue;
}
.input{
width: 1400px;
text-align: center;
border: : 5px solid #9babb5;;
padding: 1px 10px:10px:10px:

margin: 0%;
padding: 0px;
}

.new{

    background-color: rgb(37, 110, 255);
    
}
body{
    padding: 80px;
    margin-top: 10px;

}